//colors
$primary: #5E5E5E;
$light-grey: #BFBFBF;
$medium-grey: #353535;
$light-white: #F5F5F5;
$medium-white: #F9F9F9;
$medium-yellow: #ECA539;
$medium-red: #C00E20;
$black-red: #F22539;
$white: #FFFFFF;

//sizes
$small10: 10px;
$small: 12px;
$medium: 14px;
$medium16: 16px;
$medium18: 18px;
$medium20: 20px;
$medium22: 22px;
$large: 24px;
$large: 26px;
$large28: 28px;
$large32: 32px;
$large36: 36px;